# PyCity Schools Analysis

" Data's insight conceals, Pandas reveals! "

  ---

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

    * Calculate the total number of unique schools
    * Calculate the total number of students
    * Calculate the total budget
    * Calculate the average math score
    * Calculate the average reading score
    * Calculate the percentage of students who passed math score (>=70)
    * Calculate the percentage of students who passed reading score (>=70)
    * Calculate the percentage of students who passed math and reading (% Overall Passing)
    * Create a new DataFrame for the above calculations called district_summary

In [2]:
# Calculate the total number of unique schools
unique_school_count = school_data_complete["school_name"].unique()

total_school_count = len(unique_school_count)
total_school_count

15

In [3]:
# Calculate the total number of students
unique_student_count = school_data_complete["student_name"].count()
total_student_count = unique_student_count
total_student_count

39170

In [4]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [5]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [6]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean ()
average_reading_score

81.87784018381414

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)

student_passing_math = school_data_complete.loc[(school_data_complete["math_score"] >= 70)]
number_student_passing_math = student_passing_math["student_name"].count()

passing_math_percentage = number_student_passing_math / float(total_student_count) * 100
passing_math_percentage

74.9808526933878

In [8]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  

student_passing_reading = school_data_complete.loc[(school_data_complete["reading_score"] >= 70)]
number_student_passing_reading = student_passing_reading["student_name"].count()

passing_reading_percentage = number_student_passing_reading / float(total_student_count) * 100
passing_reading_percentage

85.80546336482001

In [9]:
# Use the following to calculate the percentage of students that passed math and reading

passing_math_reading_count = school_data_complete[(school_data_complete["math_score"] >= 70) 
                                                & (school_data_complete["reading_score"] >= 70)]
overall_passing_math_reading_count = passing_math_reading_count["student_name"].count()

overall_passing_rate = overall_passing_math_reading_count / float(total_student_count) * 100
overall_passing_rate

65.17232575950983

In [10]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({
    "Total Schools": total_school_count,
    "Total Students": f"{total_student_count:,}",
    "Total Budget": f"${total_budget:,.2f}",
    "Average Math Score": f"{average_math_score:.6f}",
    "Average Reading Score": f"{average_reading_score:.5f}",
    "% Passing Math": f"{passing_math_percentage:.6f}",
    "% Passing Reading": f"{passing_reading_percentage:.6f}",
    "% Overall Passing": f"{overall_passing_rate: .6f}"

}, index=[0])

district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

    * Use the code provided to select the school type
    * Calculate the total student count 
    * Calculate the per capita spending 
    * Calculate the average test scores 
    * Calculate the number of schools with math scores of 70 or higher 
    * Calculate the number of schools with reading scores of 70 or higher 
    * Calculate the schools that passed both math and reading with scores of 70 or higher 
    * Calculate the passing rates 
    * Create a new DataFrame for the above calculations called per_school_summary

In [11]:
# Group by school name
school_name = school_data_complete.set_index('school_name').groupby(['school_name'])

In [12]:
# Use the code provided to select all of the school types
school_type = school_data.set_index('school_name')['type']

In [13]:
# Calculate the total student count per school
per_school_counts = school_name['student_name'].count()

In [14]:
# Calculate the total school budget and per capita spending per school

per_school_budget = school_data.groupby('school_name')['budget'].first()
per_school_capita = per_school_budget / school_data.groupby('school_name')['size'].first()

In [15]:
# Calculate the average test scores per school
per_school_math = school_name["math_score"].mean()
per_school_reading = school_name["reading_score"].mean()

In [16]:
# Calculate the number of students per school with math scores of 70 or higher

students_passing_math = school_data_complete[school_data_complete['math_score'] >= 70]
students_passing_math_per_school = students_passing_math.groupby('school_name')['student_name'].count()

In [17]:
# Calculate the number of students per school with reading scores of 70 or higher

students_passing_reading = school_data_complete[school_data_complete['reading_score'] >= 70]
students_passing_reading_per_school = students_passing_reading.groupby('school_name')['student_name'].count()

In [18]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher

passing_both = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)]
passing_both_per_school = passing_both.groupby(["school_name"]).size()

In [19]:
# Use the provided code to calculate the passing rates
per_school_passing_math = students_passing_math_per_school / per_school_counts * 100
per_school_passing_reading = students_passing_reading_per_school / per_school_counts * 100
overall_passing_rate = passing_both_per_school / per_school_counts * 100

In [20]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({
    "School Type": school_type,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    '% Passing Math': per_school_passing_math,
    '% Passing Reading': per_school_passing_reading,
    "% Overall Passing": overall_passing_rate
})

#manipulation
per_school_summary = per_school_summary[['School Type', 
                          'Total Students', 
                          'Total School Budget', 
                          'Per Student Budget', 
                          'Average Math Score', 
                          'Average Reading Score',
                          '% Passing Math',
                          '% Passing Reading',
                          '% Overall Passing']]

#formatting
per_school_summary.style.format({'Total Students': '{:}',
                          "Total School Budget": "${:,.2f}",
                          "Per Student Budget": "${:.2f}",
                          'Average Math Score': "{:6f}", 
                          'Average Reading Score': "{:6f}", 
                          "% Passing Math": "{:6f}", 
                          "% Passing Reading": "{:6f}"})

## Highest-Performing Schools (by % Overall Passing)

    * Sort the schools by % Overall Passing in descending order 
    * Save the results to a DataFrame called top_schools
    * Display the first 5 rows

In [21]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values("% Overall Passing", ascending = False)
top_schools.head().style.format({'Total Students': '{:}',
                           "Total School Budget": "${:,.2f}", 
                           "Per Student Budget": "${:.2f}", 
                           "% Passing Math": "{:6f}", 
                           "% Passing Reading": "{:6f}", 
                           "% Overall Passing": "{:6f}"})

## Bottom Performing Schools (By % Overall Passing)

    * Sort the schools by % Overall Passing in ascending order 
    * Save the results to a DataFrame called bottom_schools 
    * Display the first 5 rows

In [22]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = top_schools.tail()
bottom_schools = bottom_schools.sort_values('% Overall Passing')
bottom_schools.style.format({'Total Students': '{: }', 
                       "Total School Budget": "${:,.2f}", 
                       "Per Student Budget": "${:.2f}", 
                       "% Passing Math": "{:6f}", 
                       "% Passing Reading": "{:6f}", 
                       "% Overall Passing": "{:6f}"})

## Math Scores by Grade

    * Use the code provided to separate the data by grade 
    * Group by "school_name" and take the mean of each 
    * Use the code to select only the math_score 
    * Combine each of the scores above into single DataFrame called math_scores_by_grade

In [23]:
# Use the code provided to separate the data by grade
ninth_math = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["math_score"].mean()
tenth_math = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["math_score"].mean()
eleventh_math = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["math_score"].mean()
twelfth_math = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["math_score"].mean()


# Group by `school_name` and take the mean of the `math_score` column for each.
math_score_by_grade = pd.DataFrame({
        "9th": ninth_math,
        "10th": tenth_math,
        "11th": eleventh_math,
        "12th": twelfth_math
})

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_score_by_grade = math_score_by_grade[['9th', '10th', '11th', '12th']]

# Minor data wrangling
math_score_by_grade.index.name = "School Name"

# Display the DataFrame
math_score_by_grade.style.format({ "9th": '{:.6f}', 
                                  "10th": '{:.6f}', 
                                  "11th": "{:.6f}", 
                                  "12th": "{:.6f}"})

## Reading Score by Grade 

    * Use the code provided to separate the data by grade 
    * Group by "school_name" and take the mean of each 
    * Use the code to select only the reading_score 
    * Combine each of the scores above into single DataFrame called reading_scores_by_grade

In [24]:
# Use the code provided to separate the data by grade
ninth_reading = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
tenth_reading = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
eleventh_reading = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
twelfth_reading = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["reading_score"].mean()

# Group by `school_name` and take the mean of the the `reading_score` column for each.
reading_scores_by_grade = pd.DataFrame({
        "9th": ninth_reading,
        "10th": tenth_reading,
        "11th": eleventh_reading,
        "12th": twelfth_reading
})

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = reading_scores_by_grade[['9th', '10th', '11th', '12th']]

# Minor data wrangling
reading_scores_by_grade.index.name = "School Name"

# Display the DataFrame
reading_scores_by_grade.style.format({'9th': '{:.6f}', 
                                     "10th": '{:.6f}', 
                                     "11th": "{:.6f}", 
                                     "12th": "{:.6f}"})

## Scores by School Spending

    * Use pd.cut with the provided code to bin the data by the spending ranges
    * Use the code provided to calculate the averages
    * Create the spending_summary DataFrame using the binned and averaged spending data

In [25]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [26]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [27]:
# Use `pd.cut` to categorize spending based on the bins.
school_data_complete['spending_bins'] = pd.cut(school_data_complete['budget']/school_data_complete['size'], 
                                               spending_bins, labels = labels)

school_spending_df.style.format({"Total School Budget": "${:,.2f}", "Per Student Budget": "${:.2f}"})

In [28]:
#  Calculate averages for the desired columns. 
by_spending = school_data_complete.groupby('spending_bins')

avg_math = by_spending['math_score'].mean()
avg_read = by_spending['reading_score'].mean()

pass_math_count = school_data_complete[school_data_complete['math_score'] >= 70].groupby('spending_bins')['student_name'].count()
pass_read_count = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('spending_bins')['student_name'].count()
overall_pass_count = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('spending_bins')['student_name'].count()

pass_math = (pass_math_count / by_spending['student_name'].count()) * 100
pass_read = (pass_read_count / by_spending['student_name'].count()) * 100
overall = (overall_pass_count / by_spending['student_name'].count()) * 100

In [29]:
# Assemble into DataFrame
scores_by_spend = pd.DataFrame({
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    "% Passing Math": pass_math,
    "% Passing Reading": pass_read,
    "% Overall Passing": overall
            
})
scores_by_spend = scores_by_spend[[
    "Average Math Score",
    "Average Reading Score",
    "% Passing Math",
    "% Passing Reading",
    "% Overall Passing"
]]
scores_by_spend.index.name = "Per Student Budget"

# Display results
scores_by_spend.style.format({'Average Math Score': '{:.6f}', 
                              'Average Reading Score': '{:.6f}', 
                              '% Passing Math': '{:.6f}', 
                              '% Passing Reading':'{:.6f}', 
                              '% Overall Passing': '{:.6f}'})

## Scores by School Size

    * Use pd.cut with the provided code to bin the data by the school sizes 
    * Use the code provided to calculate the averages
    * Create the size_summary DataFrame using the binned and averaged size data

In [30]:
# Establish the bins.
bins_size = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [31]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

# Use pd.cut on the 'Total Students' column in per_school_summary
per_school_summary['bins_size'] = pd.cut(per_school_summary['Total Students'], bins=bins_size, labels=labels)

# Apply formatting to specific columns in per_school_summary
per_school_summary.style.format({"Total School Budget": "${:,.2f}", "Per Student Budget": "${:.2f}"})

In [32]:
# Calculate averages for the desired columns based on 'bins_size'
by_size = per_school_summary.groupby('bins_size')

average_math_score = by_size['Average Math Score'].mean()
average_reading_score = by_size['Average Reading Score'].mean()

size_passing_math = by_size["% Passing Math"].mean()
size_passing_reading = by_size["% Passing Reading"].mean()
size_overall_passing = by_size["% Overall Passing"].mean()

In [33]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({
    "Average Math Score": average_math_score,
    "Average Reading Score": average_reading_score,
    '% Passing Math': size_passing_math,
    '% Passing Reading': size_passing_reading,
    '% Overall Passing': size_overall_passing
            
})

size_summary = size_summary[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    '% Overall Passing'
]]

size_summary.index.name = "Total Students"
size_summary = size_summary.reindex(labels)

# # Display results
size_summary.style.format({'Average Math Score': '{:.6f}', 
                              'Average Reading Score': '{:.6f}', 
                              '% Passing Math': '{:.6f}', 
                              '% Passing Reading':'{:.6f}', 
                              '% Overall Passing': '{:.6f}'})

## Scores by School Type

    * Group the per_school_summary DataFrame by "School Type" and average the results 
    * Use the code provided to select the new column data 
    * Create a new DataFrame called type_summary that uses the new column data

In [34]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
by_type = per_school_summary.groupby('School Type')

average_math_score = by_type['Average Math Score'].mean()
average_reading_score = by_type['Average Reading Score'].mean()

average_percent_passing_math_by_type = by_type["% Passing Math"].mean()
average_percent_passing_reading_by_type = by_type["% Passing Reading"].mean()
average_percent_overall_passing_by_type = by_type["% Overall Passing"].mean()

In [35]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({
    "Average Math Score": average_math_score,
    "Average Reading Score": average_reading_score,
    '% Passing Math': average_percent_passing_math_by_type,
    '% Passing Reading': average_percent_passing_reading_by_type,
    "% Overall Passing": average_percent_overall_passing_by_type
}) 

type_summary = type_summary[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "% Overall Passing"
]]
type_summary.index.name = "Type of School"

# Display results
type_summary.style.format({'Average Math Score': '{:.6f}', 
                              'Average Reading Score': '{:.6f}', 
                              '% Passing Math': '{:.6f}', 
                              '% Passing Reading':'{:.6f}', 
                              '% Overall Passing': '{:.6f}'})